body {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.student-details-table-header {
    border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 25px;
}

.student-details-table-content {
    border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}